body{
    width: 400px;
    height: 400px;
}
input{
    width: 60px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(58, 56, 56);
    color: white;
    font-size: medium;
    
}


#plus{
position: fixed;
height: 120px;
}
